@tailwind components;
@tailwind utilities;

:root {
  --pk-background: 0 0% 100%;
  --pk-foreground: 222.2 47.4% 11.2%;
  --pk-muted: 210 40% 96.1%;
  --pk-muted-foreground: 215.4 16.3% 46.9%;
  --pk-popover: 0 0% 100%;
  --pk-popover-foreground: 222.2 47.4% 11.2%;
  --pk-border: 214.3 31.8% 91.4%;
  --pk-input: 214.3 31.8% 91.4%;
  --pk-card: 0 0% 100%;
  --pk-card-foreground: 222.2 47.4% 11.2%;
  --pk-primary: 222.2 47.4% 11.2%;
  --pk-primary-foreground: 210 40% 98%;
  --pk-secondary: 210 40% 96.1%;
  --pk-secondary-foreground: 222.2 47.4% 11.2%;
  --pk-accent: 210 40% 96.1%;
  --pk-accent-foreground: 222.2 47.4% 11.2%;
  --pk-destructive: 0 100% 50%;
  --pk-destructive-foreground: 210 40% 98%;
  --pk-ring: 215 20.2% 65.1%;
  --pk-radius: 0.5rem;
}

.dark {
  --pk-background: 224 71% 4%;
  --pk-foreground: 213 31% 91%;
  --pk-muted: 223 47% 11%;
  --pk-muted-foreground: 215.4 16.3% 56.9%;
  --pk-accent: 216 34% 17%;
  --pk-accent-foreground: 210 40% 98%;
  --pk-popover: 224 71% 4%;
  --pk-popover-foreground: 215 20.2% 65.1%;
  --pk-border: 216 34% 17%;
  --pk-input: 216 34% 17%;
  --pk-card: 224 71% 4%;
  --pk-card-foreground: 213 31% 91%;
  --pk-primary: 210 40% 98%;
  --pk-primary-foreground: 222.2 47.4% 1.2%;
  --pk-secondary: 222.2 47.4% 11.2%;
  --pk-secondary-foreground: 210 40% 98%;
  --pk-destructive: 0 63% 31%;
  --pk-destructive-foreground: 210 40% 98%;
  --pk-ring: 216 34% 17%;
}

.popkit-popover .popkit-container {
  border-radius: 6px;
  background-color: #000;
  overflow: hidden;
  max-width: 100%;
  left: 0;
  top: 0;
}

.popkit-popover .popkit-container.popkit-normal {
  position: absolute;
  display: block;
  z-index: 10;
}

.popkit-popover .popkit-container.popkit-setting {
  position: static;
  display: flex;
  flex-wrap: wrap;
}

.popkit-popover .popkit-container ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 !important;
  margin: 0;
}

.popkit-popover .popkit-container li {
  list-style: none;
  padding: 0 !important;
  margin: 0;
  display: flex;
}

.popkit-popover .popkit-container li::before {
  content: none !important;
}

.popkit-popover .popkit-divider {
  width: 1px;
  margin: 6px 4px;
  background-color: #fff;
  height: 16px;
}

.popkit-popover .popkit-alert {
  font-size: 12px;
  padding: 0 12px;
  line-height: 28px;
}

.popkit-setting-section .popkit-item,
.popkit-popover .popkit-item {
  padding: 4px 6px;
  transition: all 200ms ease-in-out;
  opacity: 0.8;
  cursor: pointer;
  background-color: #000;
  font-family: var(--font-default);
  color: #fff;
  height: 28px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.popkit-setting-section .popkit-item:hover,
.popkit-popover .popkit-item:hover,
.popkit-item.popkit-item-highlight {
  opacity: 1;
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}

.popkit-setting-section .popkit-item-image,
.popkit-popover .popkit-item-image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.popkit-setting-section .popkit-item-text,
.popkit-popover .popkit-item-text {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popkit-setting-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid var(--background-modifier-border);
}

.popkit-setting-form-icon-container {
  background-color: #000;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  padding: 2px;
}

.popkit-setting-section {
  position: relative;
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.popkit-setting-section h3 {
  margin-top: 0;
}

.popkit-setting-section p {
  opacity: 0.6;
  margin: 0;
}

.popkit-setting-actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.popkit-setting-droppable-area {
  margin: 20px 0;
}

.popkit-setting-delete-area {
  height: 40px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  transition: all 200ms ease-in-out;
}

.popkit-setting-delete-area.popkit-setting-delete-area-highlight {
  border-color: red;
  color: red;
}

.popkit-setting-add {
  flex-grow: 1;
  min-width: 20px;
  height: 28px;
}

.popkit-sortable-over {
  position: relative;
  opacity: 0.5;
  transition: all 0.2s ease;
  padding-left: 4px;
}

.popkit-sortable-over::after {
  content: '';
  position: absolute;
  left: 0px;
  top: -4px;
  bottom: -4px;
  border: 2px solid var(--interactive-accent);
  border-radius: 6px;
  pointer-events: none;
}

.popkit-setting .popkit-sortable-over {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

.popkit-drag-overlay {
  /* position: fixed !important;
  pointer-events: none;
  z-index: 9999 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; */
}

.popkit-drag-overlay .popkit-item {
  opacity: 0.7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.popkit-drag-overlay .popkit-divider {
  opacity: 0.7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}